<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
    "classpath://org/hibernate/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="PlannerFactory">
  <!-- Database connection settings -->
 
  <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="connection.url">jdbc:mysql://localhost:3306/pacsdb</property>
  <property name="connection.username">pacs</property>
  <property name="connection.password">mGs55KPftPEuchu4</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
  
  <!--  property name="hibernate.hbm2ddl.auto">create</property -->
  
  <!-- 
  		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.datasource">java:comp/env/jdbc/MyLocalDB</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
   -->
  
  <mapping class="com.pacs.dal.dao.ApplicationUsers"/>
  <mapping class="com.pacs.dal.dao.Patient"/>
  <mapping class="com.pacs.dal.dao.Study"/>
  <mapping class="com.pacs.dal.dao.Series"/>
  <mapping class="com.pacs.dal.dao.Mpps"/>
  <mapping class="com.pacs.dal.dao.Code"/>
  <mapping class="com.pacs.dal.dao.Issuer"/>
  <mapping class="com.pacs.dal.dao.Files"/>
  <mapping class="com.pacs.dal.dao.FileSystem"/>
  <mapping class="com.pacs.dal.dao.Instance"/>
  <mapping class="com.pacs.dal.dao.StudyOnFs"/>
  <mapping class="com.pacs.dal.dao.RolesApplAet"/>
  <mapping class="com.pacs.dal.dao.RolesApplModality"/>
  
  <mapping class="com.pacs.dal.dao.vw.LuAetVw"/>
  <mapping class="com.pacs.dal.dao.vw.LuModalityVw"/>
  
  
  <mapping class="com.pacs.dal.dao.priv.PrivInstance"/>
  <mapping class="com.pacs.dal.dao.priv.PrivPatient"/>
  <mapping class="com.pacs.dal.dao.priv.PrivSeries"/>
  <mapping class="com.pacs.dal.dao.priv.PrivStudy"/> 
  
 </session-factory>
</hibernate-configuration>
